extends layout.pug

block content
    a(href="/new" id='am') Add Message
    div.board
        each message in messages
            a(href=`/post/${message.user}`)
                div.card
                    p #{message.user}
                    p #{message.text}
                    p #{message.added}
