doctype html
html
  head
    title #{title}
    link(rel='stylesheet' href="/style.css" )
    link(rel="shortcut icon" href="#")
      
  body
    header
        h2 Mini Message Board
    block content
    footer
        p Copyright &copy; #{new Date().getFullYear()}